*{
margin-top: 0;
}



body{
display: flex;
flex-direction: column;
align-items: center;
background: #E4D5EA;
background: linear-gradient(90deg, rgba(228, 213, 234, 1) 0%, rgba(234, 230, 237, 1) 100%);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
color: rgba(182, 64, 149, 0.788);
font-family:Verdana, Geneva, Tahoma, sans-serif;
border-radius: 9px;
box-shadow: black;
}

.texto{
margin-top: 1%;
justify-content: center;
background-color: rgba(227, 221, 230, 0.822);
width: 400px;
border-radius: 15px;
padding-left: 12px;
padding-top: 12px;
}

.opciones{
padding-top: 1%;
display: grid;
grid-template-columns: 400px 400px 400px;
grid-auto-rows: 400px;
gap: 40px;

}





.libro, .pelicula, .cancion{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.37);
border-radius: 13px;


}

.libro img:hover, .pelicula img:hover, .cancion img:hover{
    animation: pulse 4.5s ;
        cursor: pointer;

}



.libro img, .pelicula img , .cancion img{
width: 320px; 
height: 320px;

}



.fondoTarnsparente{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
justify-content: center;
align-items: center;
}


.formularioLibro form{
background: linear-gradient(90deg, rgba(228, 213, 234, 1) 0%, rgba(234, 230, 237, 1) 100%);
padding: 20px;
color:rgb(182, 64, 149, 0.788);
width: 700px;
border-radius: 12px;
box-shadow: 0 0 10px;
display: flex;
flex-direction: column;
padding: 50px;
justify-content: center;
align-items: center;
gap: 13px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;

}
.formularioLibro input{
    width: 180px;
height: 30px;
border-radius: 12px;
border: 1.5px solid rgba(182, 64, 149, 0.4);
background-color: transparent; 
}

.formularioLibro select {
    width: 180px;
    height: 40px;
    border-radius: 12px;
    border: 1.5px solid rgba(182, 64, 149, 0.4); 
    padding: 0 10px;
    
    color: rgba(182, 64, 149, 0.884); 
    
    background-color: transparent; 
}



.formularioLibro button{
width: 120px;
height: 50px;
border-radius: 10px;
}

.botonPelicula,.botonCancion,.botonLibro {
background-color: rgba(255, 255, 255, 0.39); 
color: rgba(182, 64, 149, 0.884);
border: 1.5px solid rgba(182, 64, 149, 0.4); 
}

.botonPelicula:hover,.botonCancion:hover,.botonLibro:hover{
background-color: rgba(228, 213, 234, 1);


}

.cerrarCla{
    display: flex;
    float: right;
    font-size: 22px;
    cursor: pointer;
    background-color: rgb(182, 64, 149);
    color: white;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.tablasResultado, .contenedorLibros,.contenedorCancion, .contenedorPelicula {
padding-top: 1%;
display: grid;
grid-template-columns: 400px 400px 400px;
grid-auto-rows: 400px;
gap: 40px;
}


#contenedorLibros,
#contenedorPelicula,
#contenedorCancion {
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 10px;
    padding: 12px;
}

#titulosH2{
padding-top: 1%;
display: grid;
grid-template-columns: 400px 400px 400px;
grid-auto-rows: 30px;
gap: 40px;
}





@keyframes pulse {
    0% {
        transform: scale(1.04);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1.04);
    }
}


#fotoL{
    display: none;
}

    .custom-file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8f115e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }

    .custom-file-button:hover {
    background-color: #8c1197;
    }


/* estilo modificado, boton sacado de https://uiverse.io/Voxybuns/lucky-fireant-71 */
.opciones button {
    /* Variables */
    --button_radius: 0.65em;
    --button_color:  rgba(234, 230, 237);
    --button_outline_color: rgba(182, 64, 149, 0.788);
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}
.button_top {
    display: block;
    border: 2.5px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.85em 1.5em;
    background: var(--button_color);
    color: rgba(182, 64, 149, 0.884);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}
button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}



